<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4ed99c"/>
    <meta name="description" content="Restaurant places just for you, with various food and drink, from low rated to high rated, come if you interest">
    <link rel="icon" href="favicon.jpg">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="">
    <title>Garden of Eat'n</title>
</head>
<body>
	<a href="#mainContent" class="skip-link">Menuju ke Konten</a>
	<header id="backtoTop" class="app-bar" role="topHeader">
		<div class="app-bar__menu">
			<button id="hamburgerButton" aria-pressed="true" tabindex="0" href="#">☰</button>
		</div>
		<div class="logo">
			<h1 tabindex="0" aria-level="h1">Garden of Eat'n</h1>
		</div>
		<nav id="navigationDrawer" class="app-bar__navigation" role="navigation">
			<ul>
				<li><a href="#/home" aria-expended="true" tabindex="0">Home</a></li>
				<li><a href="#/favorite" aria-expended="true" tabindex="0">Favorite</a></li>
				<li><a href="https://www.linkedin.com/in/ergina-kamilia-putri-74665a1b6/" target="_blank" rel="noopener" aria-expended="true" tabindex="0">About Us</a></li>
			</ul>
		</nav>
	</header>

	<div class="hero lazyload" role="banner" aria-details="banner-image" crossorigin="anonymous">
		<div class="hero-inner">
			<h2 class="hero-title" tabindex="0" aria-level="h2">BIENVENUE</h1>
			<p class="hero-tagline" tabindex="0">Here you can find popular restaurant spots with a bunch variety of delicious food</p>
		</div>
	</div>

	<main id="mainContent" role="main">
	</main>

	<footer role="contentInfo">
		<p tabindex="0">Copyright &#169; 2020 - Garden of Eat'n</p>
		<p tabindex="0">made with <i class="fa fa-heart" aria-hidden="true"></i> by erginakp</p>
		<a href="#backtoTop" class="back-top">Kembali ke Atas</a>
	</footer>
</body>
</html>
